# must enable rewrite to work via a2enmod rewirte command
RewriteEngine on

# removes .html from url names
# redirect /file.html to /file
RewriteRule ^(.+).html$ /$1 [L,R]

# now we will internally map /file to /file.html
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)/?$ /$1.html [END]
